{% extends "base.html" %}

{% load static %}

{% block title %}
   Book Detail Page
{% endblock title %}

{% block sidenav %}
   {% for item in item_list %}
     <li>
         <a href="{{ item.link }}"> {{ item.item }} </a>
     </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}

<h1 align="center"> Book Detail </h1>
<table align="center" border="2" width="400">
    <tr>
        <td>
            {{ book.name }}
        </td>
    </tr>
    <tr>
        <td>
          <img src="{% static book.pic_path %}" />
        </td>
    </tr>
    <tr>
        <td>
            {{ book.username }}
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'comment_list' book.id %}">
                        Comments
                    </a>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <a href="{% url 'post_rating' book.id %}">
                        Rating
                    </a>
            </div>
            {% if book.rate == 5 %}
                 <div class="ratings">
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                </div>
                {% elif book.rate == 4 %}
                <div class="ratings">
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                </div>
                 {% elif book.rate == 3 %}
                <div class="ratings">
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                </div>
                 {% elif book.rate == 2 %}
                <div class="ratings">
                    <i class="fa fa-star rating-color"></i>
                    <i class="fa fa-star rating-color"></i>
                </div>
                 {% elif book.rate == 1 %}
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                    </div>
                 {% else %}
                    <div >
                        No Rating
                    </div>
                {% endif %}
        </td>
    </tr>
</table>
{% endblock content %}