{% extends "base.html" %}

{% block title %}
   My Book Page
{% endblock title %}

{% block sidenav %}
   {% for item in item_list %}
     <li>
         <a href="{{ item.link }}"> {{ item.item }} </a>
     </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}

<h1 align="center"> My Books Page </h1>
<table align="center" border="2" width="400">
    {% for book in books %}
    <tr>
        <td>
            <a href="book_detail/{{ book.id }}">
                {{ book.name }}
            </a>
        </td>
        <td>
            <a href="book_delete/{{ book.id }}">
                DELETE
            </a>
        </td>
            {% if book.favourite == False %}
                <td>
                    <a href="{% url 'book_favourite' book.id %}">
                        Favourite
                    </a>
                 </td>
            {% else %}
                <td>
                     <a href="{% url 'book_unfavourite' book.id %}">
                        Unfavourite
                    </a>
                </td>
            {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}